<div class="container d-flex justify-content-center align-items-center" style="margin-top: 20%  ">
    <div class="d-flex flex-row align-items-start">
        <img src="{{user?.imageUrl ?? 'assets/default-avatar.jpg'   }}" alt="" class="rounded-circle account-image">
        <div class="d-flex flex-column mx-3">
            <h2 class="mb-3">{{user?.userName}}</h2>
            <div class="d-flex flex-row align-items-center">
                <button type="button" class="btn btn-primary btn-block" (click)="openChangePasswordModal()">Change
                    Password</button>
            </div>
            <div class="d-flex flex-row align-items-center mt-3">
                <label for="file-input" class="btn btn-secondary w-100">
                    <input id="file-input" type="file" (change)="onFileChange($event)" [hidden]="true" ngbFileInput>
                    Choose image
                </label>
            </div>
        </div>
    </div>
</div>