<div class="modal-header">
    <h4 class="modal-title">Change password</h4>
    <button type="button" class="btn" aria-label="Close" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="changePasswordForm" class="form">
        <div class="form-group">
            <label for="oldPassword">Old password</label>
            <input type="password" formControlName="oldPassword" class="form-control">
            <ng-container *ngIf="changePasswordForm.get('oldPassword') as oldPasswordControl">
                <ng-container
                    *ngIf="oldPasswordControl?.errors && (oldPasswordControl?.touched || oldPasswordControl?.dirty)">
                    <div class="invalid-feedback" *ngIf="oldPasswordControl?.hasError('required')">This field is
                        required</div>
                    <div class="invalid-feedback" *ngIf="oldPasswordControl?.hasError('minlength')">This field must be
                        at least 8 characters long</div>
                </ng-container>
                <div class="invalid-feedback" *ngIf="invalidPassword">Incorrect password</div>
            </ng-container>
        </div>
        <div class="form-group">
            <label for="newPassword">New password</label>
            <input type="password" formControlName="newPassword" class="form-control">
            <ng-container *ngIf="changePasswordForm.get('newPassword') as newPasswordControl">
                <ng-container
                    *ngIf="newPasswordControl?.errors && (newPasswordControl?.touched || newPasswordControl?.dirty)">
                    <div class="invalid-feedback" *ngIf="newPasswordControl?.hasError('required')">This field is
                        required</div>
                    <div class="invalid-feedback" *ngIf="newPasswordControl?.hasError('minlength')">This field must be
                        at least 8 characters long</div>
                </ng-container>
            </ng-container>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Close</button>
            <button type="submit" [disabled]="!changePasswordForm.valid" (click)="onSubmit()"
                class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>