.container {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .btn-primary {
    margin-top: 1rem;
  }
  
  .invalid-feedback {
    display: block;
  }

  .mt-n3 {
    margin-top: -1rem !important;
  }