.ml-n4 {
    margin-left: -4rem !important;
}

@media (max-width: 992px) {
    .nav-collapse, .nav-collapse.collapse {
      overflow: visible !important;
      height: auto !important;
    }
    .navbar .btn-navbar {
      display:none;
    }
   
    .dropdown-menu li:hover .sub-menu {
      display: block !important;
      visibility: visible !important;
    }
   }