<div class="container d-flex justify-content-center align-items-center">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="w-100">
        <div class="mb-3 mt-5">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" formControlName="username">
            <ng-container *ngIf="registerForm.get('username') as usernameControl">
                <ng-container
                    *ngIf="registerForm.get('username')?.errors && (registerForm.get('username')?.touched || registerForm.get('username')?.dirty)">
                    <div class="invalid-feedback" *ngIf="registerForm.get('username')?.hasError('required')">Username is
                        required</div>
                    <div class="invalid-feedback" *ngIf="registerForm.get('username')?.hasError('minlength')">Username
                        must
                        be
                        at least 6 characters long</div>
                </ng-container>
            </ng-container>
        </div>
        <div class="mb-3">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" formControlName="password">
            <ng-container *ngIf="registerForm.get('password') as password">
                <ng-container *ngIf="password.touched || password.dirty">
                    <div *ngIf="password.hasError('required')" class="invalid-feedback">
                        Password is required
                    </div>
                    <div *ngIf="password.hasError('minlength')" class="invalid-feedback">
                        Password must be at least 8 characters long
                    </div>
                    <div *ngIf="password.hasError('mismatch')" class="invalid-feedback">
                        Passwords do not match
                    </div>
                </ng-container>
            </ng-container>
        </div>

        <div class="mb-3">
            <label for="confirmPassword">Confirm password</label>
            <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword">
            <ng-container *ngIf="registerForm.get('confirmPassword') as confirmPassword">
                <ng-container *ngIf="confirmPassword.touched || confirmPassword.dirty">
                    <div *ngIf="confirmPassword.hasError('mismatch')" class="invalid-feedback">
                        Passwords do not match
                    </div>
                </ng-container>
            </ng-container>
        </div>
        <div class="form-group">
            <label for="englishLevel">English Level</label>
            <select class="form-control" id="englishLevel" formControlName="englishLevel">
                <option *ngFor="let level of levels" [value]="level.value">{{level.displayValue}}</option>
            </select>
        </div>
        <div class="invalid-feedback" *ngIf="conflictResponse">
            Username is already taken
        </div>
        <button [disabled]="!registerForm.valid" type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>